body{
    margin: 0;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    background-color: #000000;
    padding: 1em 0;
    letter-spacing: 0.2em;
    margin-bottom: 1em;

}
.foter{
    background-color: #000000;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}

.foter .Contacto img{ 
    width: 50px;
    height: 50px;
}

*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
}
nav ul li a{
    color: #ffffff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #6d1c2a;
    transition: .5s;
}

.checkbtn img{
    height: 35px;
}

.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.fase{
    height: 570px;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 18.75px 18.75px 18.75px 18.75px 18.75px 18.75px 18.75px 18.75px 1fr;
    align-items: center;
    justify-items: center;
    background-color: #252525;
  }
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 11;
    width: 90vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 8;
    --middle: 4;
    --position: 1;
    pointer-events: none;
    background-color: #252525;
  }
  
  div.item {
    position:absolute;
    width: 550px;
    height: 380px;
    background-color:  #252525;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #252525;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #252525;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #252525;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #252525;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #252525;
  }
  div.item:nth-of-type(6) {
    --offset: 6;
    background-color: #252525;
  }div.item:nth-of-type(7) {
    --offset: 7;
    background-color: #252525;
  }div.item:nth-of-type(8) {
    --offset: 8;
  }

  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
  input:nth-of-type(6) {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
  }
  input:nth-of-type(6):checked ~ main#carousel {
    --position: 6;
  }
  input:nth-of-type(7) {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
  }
  input:nth-of-type(7):checked ~ main#carousel {
    --position: 7;
  }
  input:nth-of-type(8) {
    grid-column: 9 / 10;
    grid-row: 2 / 3;
  }
  input:nth-of-type(8):checked ~ main#carousel {
    --position: 8;
  }


.grupos-grupo{
    height: 350px;
    width: 500px;
    padding: 50px 50px;
}

.grupos-tabla{
    height: 250px;
    width: 450px;
}

.grupos-grupo h5{
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
}
.grupos-tabla img{
    width: 50px;
    height: 30px;
    margin-left: 3px;
    text-align: center;
    border: 0.5px solid rgb(0, 0, 0);
   }
.grupos-tabla .encabezado{
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    font-size: 20px;
}

.grupos-tabla .team{
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
}
.grupos-tabla .score{
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.grupos-tabla .destacado{
    background-color:#3F0713;
    color: #ffffff;
}
.grupos-tabla .posicion-impar{
    background-color: rgb(126, 43, 43);
}
.grupos-tabla .posicion-par{
    background-color: rgb(190, 49, 49);
}


@media (max-width: 952px) {
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 14px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3F0713;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.activate{
        background: none;
        color:#000000;
    }
    #check:checked ~ ul{
        left:0;
    }
    .contador{
        display: flex;
        justify-content: space-evenly;
        width: 350px;
    }
    h1{
        text-align: center;
        color: #ffffff;
        font-size: 25px;
        padding: 30px 140px;
    }
    
    p{
        display: grid;
        place-items: center;
        border: solid 1px #ffffff;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        background-color: #3F0713;
    }
    span{
        color: #ffffff;
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
    }   

    .grupos-grupo{
        height: 350px;
        width: 400px;
        padding: 25px 20px;
        margin: 10px auto;
    }
    .grupos-tabla{
        height: 250px;
        width: 325px;
    }
    .grupos-tabla img{
        width: 40px;
        height: 25px;
        margin-left: 3px;
        text-align: center;
        border: 0.5px solid rgb(0, 0, 0);
       }
    .grupos-tabla .encabezado{
        font-family: 'Roboto', 'sans-serif';
        text-align: center;
        font-size: 12px;
    }
    
    .grupos-tabla .team{
        color: #ffffff;
        font-family: 'Roboto', serif;
        font-size: 10px;
        line-height: 30px;
        text-align: left;
    }
    .grupos-tabla .score{
        color: #ffffff;
        font-family: 'Roboto', serif;
        font-size: 10px;
        line-height: 30px;
        text-align: center;
    }
    .item {
        background-position: 10%;
        background-color:  #252525;
        transition: all 0.25s linear;
      }

}