*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
}
nav ul li a{
    color: #ffffff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #6d1c2a;
    transition: .5s;
}

.checkbtn img{
    height: 35px;
}

.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.contenedor{
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;;
    display: flex;
    box-sizing: border-box;
    background-color: #3F0713;
}

.contador{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 800px;
}

.contador div{
    display: grid;
    place-items: center;
    padding: 10px;
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    padding: 30px 100px;
}

p{
    display: grid;
    place-items: center;
    border: solid 1px #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    background-color: #3F0713;
}
span{
    color: #ffffff;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}




body{
    color: #ffffff;
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 80vh;    height: 100vh;
    font-family: 'Roboto', monospace;
}



.container {
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;;
    display: flex;
    box-sizing: border-box;    
}

.container .grupo h3{
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 20px;
    padding-top: 10%;
}

.container .grupo h4{
    color: #000000;
    font-family: 'Roboto', serif;
    font-size: 20px;
    margin: 13px;
}


.container .grupo {
    background: #3F0713;
    width: 300px;
    height: 350px;
    margin: 0px auto;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(255,0,72,1);
    overflow: hidden;
    text-align: center;
    margin-bottom: 35px;
}

.container .grupo .Equipo {
    background: #f1f1e4;
    width: 280px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px;
    display: flex;
}
.container .grupo .Equipo:hover{
    background-color: #ffffff;
    cursor: pointer
} 


.container .grupo .Equipo img{
    width: 50px;
    height: 30px;
    margin: 10px;
    text-align: center;
    border: 0.5px solid rgb(0, 0, 0);
} 

.foter{
    background-color: #000000;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}

.foter .Contacto img{ 
    width: 50px;
    height: 50px;
}



@media (max-width: 952px) {
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 14px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #3F0713;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.activate{
        background: none;
        color:#000000;
    }
    #check:checked ~ ul{
        left:0;
    }
    .contador{
        display: flex;
        justify-content: space-evenly;
        width: 350px;
    }
    h1{
        text-align: center;
        color: #ffffff;
        font-size: 25px;
        padding: 30px 140px;
    }
    
    p{
        display: grid;
        place-items: center;
        border: solid 1px #ffffff;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        background-color: #3F0713;
    }
    span{
        color: #ffffff;
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
    }   
}