body{
    margin: 0;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    background-color: #000000;
    padding: 1em 0;
    letter-spacing: 0.2em;
    margin-bottom: 1em;

}
.foter{
    background-color: #000000;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}

.foter .Contacto img{ 
    width: 50px;
    height: 50px;
}

*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #ffffff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #6d1c2a;
    transition: .5s;
}

.checkbtn img{
    height: 35px;
}

.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.main h1{
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 13px;
    text-align: center;
}

.main .Jornada {
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin: 0px auto;
}

.main .Jornada .Grupo h2{
    margin: 10px 0PX;
    line-height: 100%;
    text-align: center;

}
.main .Jornada .Grupo .P{
    background: #23c1c7;
    width:  450px;
    height: 200px;
    margin: 0px auto;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 35px;
    margin-left: 35px;
}

.main .Jornada .P .Equipos{
    background: #f1f1e4;
    width: 410px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
    display:flex;
    line-height: 70px;
}
.main .Jornada .Equipos img{
    width: 50px;
    height: 30px;
    margin: 20px;
    border: 0.5px solid rgb(0, 0, 0);
}

.main .Jornada .Equipos h3{
    font-size: 25px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.main .Jornada .datos{
    background: #f1f1e4;
    width: 410px;
    height: 70px;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 20px;
    display: flex;
    line-height: 70px;
}

.main .Jornada .datos h5{
    text-align: center;
    font-family: Roboto;
    margin-left: 50px;
    margin-right: 50px;
}