body{
    margin: 0;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    background-color: #000000;
    padding: 1em 0;
    letter-spacing: 0.2em;
    margin-bottom: 1em;

}
.foter{
    background-color: #000000;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}

.foter .Contacto img{ 
    width: 50px;
    height: 50px;
}

*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #ffffff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #6d1c2a;
    transition: .5s;
}

.checkbtn img{
    height: 35px;
}

.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
