body{
    margin: 0;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    background-color: #000000;
    padding: 1em 0;
    letter-spacing: 0.2em;
    margin-bottom: 1em;

}
.foter{
    background-color: #000000;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}

.foter .Contacto img{ 
    width: 50px;
    height: 50px;
}

*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

nav {
    background: #000000;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 10px 50px;
}
.logo{
    height: 60px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: 'Roboto', sans-serif;
}
nav ul li a{
    color: #ffffff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #6d1c2a;
    transition: .5s;
}

.checkbtn img{
    height: 35px;
}

.checkbtn{
    font-size: 30px;
    color: #ffffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.contenedor{
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;;
    display: flex;
    box-sizing: border-box;
    background-color: #3F0713;
}

.contador{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 800px;
}

.contador div{
    display: grid;
    place-items: center;
    padding: 10px;
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    padding: 30px 100px;
}

p{
    display: grid;
    place-items: center;
    border: solid 1px #ffffff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    background-color: #3F0713;
}
span{
    color: #ffffff;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.titulo{
    height: 75px;
    background-color: #6d1c2a;
}

.titulo h3{
    font-family: 'Roboto', 'serif';
    color: #ffffff;
    line-height: 75px;
    text-align: center;
    font-size: 30px;
}

.grupos{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    background-color: #252525;   
}

.grupos-grupo{
    height: 350px;
    width: 500px;
    padding: 25px 20px;
    border-radius: 8px;
    margin: 10px auto;
}

.grupos-tabla{
    height: 250px;
    width: 450px;
}

.grupos-grupo h5{
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    margin-bottom: 10px;
    color: #ffffff;
}
.grupos-tabla img{
    width: 50px;
    height: 30px;
    margin-left: 3px;
    text-align: center;
    border: 0.5px solid rgb(0, 0, 0);
   }
.grupos-tabla .encabezado{
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
    font-size: 20px;
}

.grupos-tabla .team{
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
}
.grupos-tabla .score{
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.grupos-tabla .destacado{
    background-color:#3F0713;
    color: #ffffff;
}
.grupos-tabla .posicion-impar{
    background-color: rgb(126, 43, 43);
}
.grupos-tabla .posicion-par{
    background-color: rgb(190, 49, 49);
}

.fase-grupos{
    height: 500px;
    background-color: #252525;
}




@media (max-width: 952px) {
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 14px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #3F0713;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.activate{
        background: none;
        color:#000000;
    }
    #check:checked ~ ul{
        left:0;
    }
    .contador{
        display: flex;
        justify-content: space-evenly;
        width: 350px;
    }
    h1{
        text-align: center;
        color: #ffffff;
        font-size: 25px;
        padding: 30px 140px;
    }
    
    p{
        display: grid;
        place-items: center;
        border: solid 1px #ffffff;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        background-color: #3F0713;
    }
    span{
        color: #ffffff;
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
    }   

    .grupos-grupo{
        height: 350px;
        width: 400px;
        padding: 25px 20px;
        margin: 10px auto;
    }
    .grupos-tabla{
        height: 250px;
        width: 325px;
    }
    .grupos-tabla img{
        width: 40px;
        height: 25px;
        margin-left: 3px;
        text-align: center;
        border: 0.5px solid rgb(0, 0, 0);
       }
    .grupos-tabla .encabezado{
        font-family: 'Roboto', 'sans-serif';
        text-align: center;
        font-size: 17px;
    }
    
    .grupos-tabla .team{
        color: #ffffff;
        font-family: 'Roboto', serif;
        font-size: 15px;
        line-height: 30px;
        text-align: left;
    }
    .grupos-tabla .score{
        color: #ffffff;
        font-family: 'Roboto', serif;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
    }
}