body{
    margin: 0;
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background-color: #000000;
    padding: 1em 0;
    letter-spacing: 0.2em;
    margin-bottom: 1em;

}

.container {
    background-color: #ffffff;
    flex-wrap: wrap;
    padding-left: 7.5%;
    padding-top: 2%;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.container .grupo h3{
    color: #ffffff;
    font-family: 'Roboto', serif;
    font-size: 20px;
}

.container .grupo h4{
    color: #000000;
    font-family: 'Roboto', serif;
    font-size: 20px;
    margin: 13px;
}


.container .grupo {
    background: #6d1c2a;
    width: 300px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    
}

.container .grupo .Equipo {
    background: #f1f1e4;
    width: 280px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 10px;
    display: flex;
}

.container .grupo .Equipo img{
    width: 50px;
    height: 30px;
    margin: 10px;
    text-align: center;
    border: 0.5px solid rgb(0, 0, 0);
} 

.foter{
    background-color: #000000;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}
